// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
  font-family: 'Hind', sans-serif;
}

.logo {
  text-decoration: none;
  color: red;
  margin-left: 5%;
  margin-top: 10%;
  font-size: 3em;
}

.login-signup {
  font-size: 1.5em;
}

.login {
  color: white;
  background-color: red;
  position: absolute;
  top: 2%;
  right: 5%;
  margin: 15px 2px 10px 5px;
  font-weight: lighter;
  border-radius: 10%;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.login:first-child {
  margin-right: 90px;
}

.signup {
  color: white;
  background-color: red;
  position: relative;
  top: 50%;
  left: 1.5%;
  margin: 5px 5px 5px -10px;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.login-signup h3 {
  font-size: 3em;
  font-weight: 600;
  margin: 5px 1px -12px 1px;
  padding: 10px;
}

.join-free {
  text-align: left;
  color: white;
  margin-top: 15%;
  margin-left: 5%;
}

.login-signup h4 {
  font-size: 1.2em;
  margin: 1px 1px 10px 1px;
  padding: 10px;
}

.header-name {
  color: white;
  margin: 1%;
}
