// Place all the styles related to the Api::video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.video-index-item {
  margin: 10px 0px;
}

.video-index-item:hover {
  transform:scale(1.1, 1.2);
  .attributes {
    visibility: visible;
    position: relative;
  }
  .toggle-favorite {
    visibility: visible;
    position: fixed;
    float: right;
    top: 0%;
    right: 0%;
    background-color: red;
    color: white;
  }
}

.attributes {
  visibility: hidden;
}
.attributes p {
  text-align: justify;
  font-size: 1em;
  list-style: none;
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 0px;
  word-break: normal;
  width: 300px;
}

.current-video {
  margin: 10%;
  height: 600px;
  width: 80%;
}

.all-videos {
  margin-top: 10%;
}

.toggle-favorite {
  visibility: hidden;
}
